{% extends 'base.html' %}

{% block content %}
<div class="form">
    <div class="form-container">
        <form id="signup-form" class="form-content" method="POST" action="">
            {% csrf_token %}
            <h2>Sign Up</h2>
            {{ form.first_name }}
            {{ form.last_name }}
            {{ form.username }}
            {{ form.email }}
            {{ form.password1 }}
            {{ form.password2 }}
            <input type="submit" value="Sign Up">
            <p>Already have an account? <a href="{% url 'login' %}" id="switch-to-login">Log In</a></p>
        </form>
    </div>
</div>
{% endblock %}